@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "New Amsterdam", sans-serif;
}
.text-orange {
  color: #ffa500;
}
.body-video {
  height: 100vh;
  z-index: -1;
  position: absolute;
  width: 100vw;
  object-fit: cover;
}
.body-section {
  /* background: url(bg.jpg); */
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.content {
  height: inherit;
  color: white;
  /* background-color: rgba(223, 218, 218, 0.008);
  backdrop-filter: blur(2px); */
  position: relative;
}
.howPlay {
  position: absolute;
  z-index: 3;
  width: 35vw;
  height: 60vh;
  color: white;
  backdrop-filter: blur(10px);
  background: #592418a9;
  padding: 2rem;
  font-size: 2rem;
  display: none;
}
.howto {
  font-size: 1.5rem;
  text-decoration: underline;
}
.top-desc {
  font-size: 2.5rem;
  position: absolute;
  z-index: 3;
  /* background-color: rgb(128, 128, 128); */
  background: url(bg.jpg);
  background-position: center;
  backdrop-filter: blur(50px);
  display: flex;
  padding: 2rem;
  border-radius: 10px;
  height: 50vh;
}
.top-desc input {
  background: rgba(128, 128, 128, 0.568);
  font-size: 2rem;
  color: yellow;
}
.instruction {
  font-size: 3rem;
}
.heading {
  color: #e64a06;
  font-size: 5rem;
}
button {
  padding: 0.8rem;
  border-radius: 20px !important;
  outline: none;
  color: white;
  border: none;
}
.timer {
  font-size: 10rem;
}

.pause {
  background: red;
  display: none;
}
.start {
  background: green;
  display: block;
}
.reset {
  display: block;
  background: blue;
}
.winner {
  font-size: 3rem;
  color: #ffa500;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.user {
  font-size: 1.5rem;
}
.custom {
  position: absolute;
  z-index: 3;
  background: url(bg.jpg);
  background-position: center;
  backdrop-filter: blur(50px);
  display: none;
  padding: 2rem;
  border-radius: 10px;
  height: 50vh !important;
}
.user-input {
  font-size: 1.5rem;
}
.user-input input {
  background: transparent;
  outline: none;
  border: 2px white solid;
  border-radius: 10px;
  text-align: center;
  color: yellow;
}

.text-imp {
  color: #f2dc99;
}
@media only screen and (max-width: 426px) {
  .heading {
    font-size: 3.5rem;
  }
  .howto {
    font-size: 2rem;
  }
  .instruction {
    font-size: 2.5rem;
  }
  .winner {
    font-size: 3rem !important;
  }
  .timer {
    font-size: 5rem;
  }
  .howPlay {
    width: 75vw;
    height: 75vh;
    color: white;

    font-size: 1.2rem;
  }
}
