@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "New Amsterdam", sans-serif;
}
.text-orange {
  color: #ffa500;
}
.body-video {
  height: 100vh;
  z-index: -1;
  position: absolute;
  width: 100vw;
  object-fit: cover;
}
.body-section {
  /* background: url(bg.jpg); */
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
} 
.content {
  height: inherit;
  color: white;
  /* background-color: rgba(128, 128, 128, 0.009);
  backdrop-filter: blur(2px); */
  position: relative;
}
.top-desc {
  font-size: 2.5rem;
  position: absolute;
  z-index: 3;
  /* background-color: rgb(128, 128, 128); */
  background: url(bg.jpg);
  background-position: center;
  backdrop-filter: blur(50px);
  display: flex;
  padding: 2rem;
  border-radius: 10px;
  height: 50vh;
}
.top-desc input {
  background: rgba(128, 128, 128, 0.568);
  font-size: 2rem;
  color: yellow;
}
.instruction {
  font-size: 3rem;
}
.heading{
  color: #e64a06;
}
button {
  padding: 0.8rem;
  border-radius: 20px !important;
  outline: none;
  color: white;
  border: none;
}
.timer {
  font-size: 10rem;
}
.heading {
  font-size: 5rem;
}
.pause {
  background: red;
  display: none;
}
.start {
  background: green;
  display: block;
}
.reset {
  display: block;
  background: blue;
}
.winner {
  font-size: 3rem;
  color: #ffa500;
}
.user {
  font-size: 1.5rem;
}
.custom {
  position: absolute;
  z-index: 3;
  background: url(bg.jpg);
  background-position: center;
  backdrop-filter: blur(50px);
  display: none;
  padding: 2rem;
  border-radius: 10px;
  height: 50vh !important;
}
.user-input {
  font-size: 1.5rem;
}
.user-input input {
  background: transparent;
  outline: none;
  border: 2px white solid;
  border-radius: 10px;
  text-align: center;
  color: yellow;
}
